/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}
  * {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}

/* My CSS */
.sidebar button
{
    border: none;
    background: none;
    color: white;
    font-size: 18px;
}
.grid-container
{
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
}

.sidebar
{
    background-color: rebeccapurple;
    grid-column: 1;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
.upper,.lower
{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: start;
    padding-top: 1rem;
    margin: 0 20%;
}

.main
{
    display: grid;
    background-color: lightblue;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 5rem;
    row-gap: 2rem;
    justify-items: center;
    padding: 3rem;

}
.items
{
    background-color: lightcoral;
    min-width: 250px;
    min-height: 250px;
    width: max-content;
    height: max-content;
}



